---
layout: base.njk
title: 复旦大学北加州校友会 – Fudan Alumni Association of Northern California (FDAANC)
isHome: true
wrapperClass: content-wrapper front-page-content front-page cf
articleClass: content
permalink: /
---
