	<!-- Footer -->
		<footer id="footer">
			<section class="footer-widgets-container">
				<section class="footer-widgets no-widgets">
									</section>
			</section>

			<nav>
						</nav>

			<section class="copyright-area no-widgets">
						</section>

			<p class="copyright">
					<span class="site-copyright">
			Copyright &copy; {{ "" | year }} <a href="/">{{ site.title }}</a>. All Rights Reserved.		</span>
				</p>
		</footer>